---
layout: default
title: Mark Kirkpatrick test
---
<div class="blurb">
			<h1>Home page</h1>
			<p>Placeholder for home page content</p>
    		</div><!-- /.blurb -->

<!-- Pagination links -->
<nav class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous">&laquo;</a>
    {% else %}
      <a href="/page" class="previous">&laquo;</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page" class="next ">&raquo;</a>
  {% endif %}
</nav>
