{% include header.html %}
    <!-- Post Content -->
    <article>
        <div class="container page-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ content }}
                </div>
            </div>
        </div>
    </article>
<p>This post was last modified: {{ site.time | date: '%B %d, %Y' }}</p>

    <hr>
    <hr>

<h3>More posts</h3>
<nav class="post-nav">
    <div class="post-nav__prev">    
        {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">
            <span>&lt; {{page.previous.title}}</span>
        </a> 
        {% endif %}
 </div>
 <div class="post-nav__next">  
        {% if page.next.url %} 
        <a class="next" href="{{page.next.url}}">
            <span>{{page.next.title}} &gt;</span>
        </a> 
        {% endif %} 
    </div>
</nav>
