---
layout: default
---
<!-- Set your background image for this header on the line below. -->
 <header class="intro-header" style="background-image: url({{ site.baseurl }}/images/{{ page.image }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                        <h2 class="subheading">{{ page.subheading }}</h2>
                        <span class="meta">Posted by <a href="http://www.markkirkpatrick.co.uk/">Mark Kirkpatrick</a> on {{ page.date | date_to_string }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content -->
    <article>
        <div class="container page-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ content }}
                </div>
            </div>
        </div>
    </article>
{{ page.last-modified-date | date: '%B %d, %Y' }}


    <hr>
    <hr>

<h3>More posts</h3>
<nav class="post-nav">
    <div class="post-nav__prev">    
        {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">
            <span>&lt; {{page.previous.title}}</span>
        </a> 
        {% endif %}
 </div>
 <div class="post-nav__next">  
        {% if page.next.url %} 
        <a class="next" href="{{page.next.url}}">
            <span>{{page.next.title}} &gt;</span>
        </a> 
        {% endif %} 
    </div>
</nav>
